<form action="/happyHome/createHappyHome" enctype="multipart/form-data" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Name of Home*</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Foster's Home for Imaginary Friends">
    </div>
    
    <div class="mb-3">
        <label for="googlemapsencoder" class="form-label">Google Maps Address Lookup</label>
        <input type="text" class="form-control" id="googlemaps" name="googlemapsencoder">
    </div>
    <h1 class="text-2xl">Input Latitude & Longitude </h1>
    <div class="mb-3">
      <label for="address" class="form-label">Display Address*</label>
      <input type="text" class="form-control" id="address" name="address" placeholder="1123 Wilson Way">
    </div>
    <div class="mb-3">
      <label for="latitude" class="form-label">Latitude</label>
      <input type="text" class="form-control" id="latitude" name="latitude"> 
    </div>
    <div class="mb-3">
      <label for="longitude" class="form-label">Longitude</label>
      <input type="text" class="form-control" id="longitude" name="longitude"> 
    </div>
    
    <div class="mb-3">
      <label for="imgUpload" class="form-label">Image</label>
      <input type="file" class="form-control" id="imageUpload" name="file">
    </div>
    <h3 class="dark:text-white text-2xl mb-2">Options</h3>
    <div class="mb-3">
      <input type="checkbox" class="form-check-input" value="" id="autismfriendly" name="autismfriendly">
      <label for="autismfriendly" class="form-label">Autism Friendly</label>
      
    </div>
    
    <div class="mb-2">
      <input type="checkbox" class="form-check-input" value="" id="dogfriendly" name="dogfriendly">
      <label for="dogfriendly" class="form-label">Dog Friendly</label>
      
    </div>
    
    <div class="mb-2">
      <input type="checkbox" class="form-check-input" value="" id="housingvouchers" name="housingvouchers">
      <label for="housingvouchers" class="form-label">Takes Housing Vouchers</label>
      
    </div>

    
    <div class="mb-2">
      <input type="checkbox" class="form-check-input" value="" id="affordablehousing" name="affordablehousing">
      <label for="affordablehousing" class="form-label">Affordable Housing Units</label>
      
    </div>
    <div class="mb-2">
      <input type="checkbox" class="form-check-input" value="" id="communitygarden" name="communitygarden">
      <label for="communitygarden" class="form-label">Has a community garden?</label>
      
    </div>
    <div class="mb-2">
      <input type="checkbox" class="form-check-input" value="" id="petsallowed" name="petsallowed">
      <label for="petsallowed" class="form-label">Are pets allowed?</label>
      
    </div>
    <div class="mb-2">
      <input type="checkbox" class="form-check-input" value="" id="videomonitoring" name="videomonitoring">
      <label for="videomonitoring" class="form-label">Video Monitoring</label>
      
    </div>
    
    <button type="submit" class="btn btn-blue" value="Upload">Submit</button>
  </form>