<form action="/happyHome/createHappyHome" enctype="multipart/form-data" method="POST" id="addHappyHomeForm">
    <div class="mb-3">
        <label for="name" class="form-label">Name of Home*</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Foster's Home for Imaginary Friends">
    </div>
    
    
    <div class="mb-3">
      <label for="imgUpload" class="form-label">Image</label>
      <input type="file" class="form-control" id="imageUpload" name="file">
    </div>
    <h1 class="text-2xl">Input Latitude & Longitude </h1>
    <div class="mb-3">
      <label for="address" class="form-label">Display Address*</label>
      <input type="text" class="form-control" id="address" name="address" placeholder="1123 Wilson Way">
    </div>
    <div class="mb-3">
      <label for="latitude" class="form-label">Latitude</label>
      <input type="text" class="form-control" id="latitude" name="latitude"> 
    </div>
    <div class="mb-3">
      <label for="longitude" class="form-label">Longitude</label>
      <input type="text" class="form-control" id="longitude" name="longitude"> 
    </div>
    <h1 class="text-2xl">OR</h1>
    <div class="mb-3 relative">
        <label for="googlemapsgeocoder" class="form-label">Google Maps Address Lookup</label>
        <input type="text" class="form-control" id="googlemapsgeocoder" name="googlemapsgeocoder" oninput="delayedGeocode(this.value)">
        <!-- <button id="addaddress" class="btn btn-blue">Add Address</button> -->
        <ul id="googlemapsaddresses" class="absolute hidden "> <!-- hidden on initial load-->
        </ul>
    </div>
    
    <div class="text-2xl">Description</div>
    <div class="dark:bg-white dark:text-black" id="quill-container-mine">

      <!-- Create the toolbar container -->
      <div id="toolbar">
      </div>
      
      <!-- Create the editor container -->
      <div id="editor">
      </div>
    </div>
    <h1 class="btn btn-blue" onclick="getEditorContents()">Get Editor Contents</h1>
    <!-- <div class="mb-3 flex flex-col">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control border-2 p-2 text-black" id="description" name="description" placeholder="Enter a description here..."></textarea>
        
    </div> -->
    <h3 class="dark:text-white text-2xl mb-2">Options</h3>
    <% /* include options in a secondary form to avoid repeating stuff */ %>
    <%- include('newhomeformoptions', {options: {}}) %>

    <button type="submit" class="btn btn-blue" value="Upload">Submit</button>
</form>
<script src="/js/geocode.js" defer></script>  

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
<!-- Initialize Quill editor -->
<script>
  var toolbarOptions = {
    handlers: {
      'link': function(value) {
        if(value) {
          var href = prompt('Enter the URL');
          this.quill.format('link', href);
        } else {
          this.quill.format('link', false)
        }
      }
    }
    // 'bold': default, 'italic', 'underline', 'strike', 'link'
  }
  var editor = new Quill('#editor', {
    modules: { 
      toolbar: toolbarOptions 
    },
    placeholder: 'Add description here...',
    theme: 'snow'
  });
  document.getElementById('addHappyHomeForm').addEventListener('submit', addHome)
  function getEditorContents() {
    var delta = editor.root.innerHTML;
    console.log(delta)
  }
  function addHome(e) {
    console.log(e);

    e.preventDefault()
    let fileElement = document.querySelector('#imageUpload');
    let file = fileElement.files[0];
    let formData = new FormData();

    formData.append('file', file);
    let formNames = ['name', 'address', 'latitude', 'longitude'];
    for(const id of formNames) {
      formData.append(id, document.getElementById(id).value)
    }
    formData.append('description', editor.root.innerHTML);
    let formOptionsCheckboxes = [
      'autismfriendly',
      'dogfriendly',
      'housingvouchers',
      'affordablehousing',
      'consumerowned',
      'communitygarden',
      'petsallowed',
      'videomonitoring',
      'lgbtqplusfriendly'
    ]
    for(const id of formOptionsCheckboxes) {
      formData.append(id, document.getElementById(id).checked)
    }
    // formData.set('name', document.querySelector('#name'))
    console.log(formData);
    for(const key of formData.keys()) {
      console.log(key)
      console.log(formData.get(key))
    }
    /*
    fetch("/happyHome/createHappyHome",
      {
        method: 'POST',
        body: formData
      })
      */
     const request = new XMLHttpRequest();
     request.open("POST", "/happyHome/createHappyHome")
     request.send(formData);
  }
</script> 