    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>    -->
    <footer class="mb-4 bg-pink-500 p-4 flex flex-row justify-content-around">
        <a href="/credits" class="text-white">Credits</a>
        <a href="/contact" class="text-white">Contact Site Owner</a>
    </footer>
</body>
</html>