    <footer class="mb-4 bg-pink-500 p-4 flex flex-col md:flex-row justify-content-around">
        <a href="/credits" class="text-white">Credits</a>
        <a href="/contact" class="text-white">Contact Site Owner</a>
        <a href="/contribute" class="text-white">Contribute</a>
    </footer>
</body>
</html>