<li class="pt-8 pb-8 pl-2 flex items-center border-solid border-2 mb-2">
    <div class="bg-pink-500 w-8 h-8 rounded-full"></div>
    <img src="<%= location.img %>">
    <a class="p-8" href="<%= location.link %>" class="item"><%= location.name %> @ <%= location.address %> </a>
</li>