<div class="mb-3">
    <input type="checkbox" class="form-check-input" value="" id="autismfriendly" name="autismfriendly" <%= 'autismfriendly' in options ? 'checked': '' %>>
    <label for="autismfriendly" class="form-label">Autism Friendly</label>
    
  </div>
  
  <div class="mb-2">
    <input type="checkbox" class="form-check-input" value="" id="dogfriendly" name="dogfriendly" value="checked">
    <label for="dogfriendly" class="form-label">Dog Friendly</label>
    
  </div>
  
  <div class="mb-2">
    <input type="checkbox" class="form-check-input" value="" id="housingvouchers" name="housingvouchers">
    <label for="housingvouchers" class="form-label">Takes Housing Vouchers</label>
    
  </div>

  
  <div class="mb-2">
    <input type="checkbox" class="form-check-input" value="" id="affordablehousing" name="affordablehousing">
    <label for="affordablehousing" class="form-label">Affordable Housing Units</label>
    
  </div>
  <div class="mb-2">
    <input type="checkbox" class="form-check-input" value="" id="communitygarden" name="communitygarden">
    <label for="communitygarden" class="form-label">Has a community garden?</label>
    
  </div>
  <div class="mb-2">
    <input type="checkbox" class="form-check-input" value="" id="petsallowed" name="petsallowed">
    <label for="petsallowed" class="form-label">Are pets allowed?</label>
    
  </div>
  <div class="mb-2">
    <input type="checkbox" class="form-check-input" value="" id="videomonitoring" name="videomonitoring">
    <label for="videomonitoring" class="form-label">Video Monitoring</label>
    
  </div>