<%- include('partials/header') %>
<div class="container mx-auto p-2 dark:text-white">

    <h1 class="text-3xl">About this Website</h1>
    <p>This website was created as part of the training agency #100Devs, run by <a class="text-blue-500" href="https://leonnoel.com/100devs/">Leon Noel</a>. </p>
    <h1 class="text-2xl">Contributors:</h1>
    <p>Jasmine Kerr (legal name: William Kerr)</p>
</div>
<%- include('partials/footer') %>