<%- include('partials/header') -%>
    <div class="container dark:text-white pt-5 pb-5 px-10 py-10">

        <h1 class="text-3xl">
            Contribute towards my housing repository!    
        </h1>
        <p class="text-regular">
            Website costs aren't cheap nowadays. I have to keep the website hosted somewhere, Google Maps API and other third party platforms paid for,
            keep the posts and comments moderated, etc. 
        </p>
        <br>
        <br>
        <h1 class="text-2xl">Donate via PayPal</h1>
        <p class="text-xs mb-2">Note: I have to use my legal name to receive money.</p>
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="business" value="J2ZMCV34XVC3L"/>
            <input type="hidden" name="no_recurring" value="0" />
            <input type="hidden" name="item_name" value="This contribution will help keep this website up and running and will pay for server costs." />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
            
    
    </div>
<%- include('partials/footer') -%>