<br>
        Favicon:
        <br>

        <a target="_blank" href="https://icons8.com/icon/40846/prefab-house">Prefab House</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>

        Loading icon: 

        <a href="https://codepen.io/anonymcoder1/pen/abGWdyB">https://codepen.io/anonymcoder1/pen/abGWdyB</a>