<%- include('partials/header') -%>

<div class="container mx-auto dark:text-white">
        <p class="mt-3 mb-3">

                <h1 class="text-2xl">
                        Favicon:
                </h1>
                <a class="italic text-blue-500 dark:text-blue-300"target="_blank" href="https://icons8.com/icon/40846/prefab-house">Prefab House icon</a> by <a class="italic text-blue-500 dark:text-blue-300" target="_blank" href="https://icons8.com">Icons8</a>
        </p>
        
        <p class="mb-3 mt-3">
                <h1 class="text-2xl">Loading icon:</h1> 
                <a class="text-blue-500 dark:text-blue-300" href="https://codepen.io/anonymcoder1/pen/abGWdyB">https://codepen.io/anonymcoder1/pen/abGWdyB</a>
        </p>
</div>

<%- include('partials/footer') -%>
