<%- include('partials/header') -%>


<main class="container place-content-center mx-auto">


    <div class="flex flex-col justify-center items-center mt-5 mb-5">
        <a href="/maps" class="btn btn-blue w-2/3 h-16 md:h-[30vh] align-middle relative flex items-center justify-center" >
            <span class="text-xl md:text-3xl xl:text-5xl text-center w-full absolute pt-1/2">Find your new home</span>
        </a>
        <!-- 

            <div class="btn btn-blue w-2/3 md:h-[30vh] align-middle">
                
                <a href="/maps" class="text-xl text-center justify-center " >Find your new home</a>
            </div>
        -->
        <p class="dark:text-white mt-10 mb-10 text-2xl ">or</p>
        <a href="/login" class="btn btn-blue w-2/3 h-16 md:h-[30vh] align-middle relative flex items-center justify-center" >
            <span class="text-xl md:text-3xl xl:text-5xl text-center w-full absolute pt-1/2">Add a home</span>
        </a>
        <!-- <a href="/login" class="text-xl text-center flex-none w-2/3 pt-3 pb-3 px-5 py-5 bg-blue-500 text-white font-bold rounded" >Add a home</a> -->
    </div>
</main>



<%- include('partials/footer') -%>