<%- include('partials/header') -%>


<main class="container place-content-center mx-auto">


    <div class="flex flex-col justify-center items-center mt-5 mb-5">
         
        <a href="/maps" class="text-xl text-center flex-none btn btn-blue w-2/3 justify-center" >Find your new home</a>
        <p class="">or</p>
        <a href="/login" class="text-xl text-center flex-none w-2/3 pt-3 pb-3 px-5 py-5 bg-blue-500 text-white font-bold rounded" >Add a home</a>
    </div>
</main>



<%- include('partials/footer') -%>